body {
    width: 100%;
    overflow: hidden;
}

.main-screen_firs-layer {
    width: 100vw;
    height: 100vh;
    background-image: url(images/main-container/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute; 
}

.main-screen_second-layer {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: url(images/main-container/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-icons-arrow {
    color: #ffffff;
    position: absolute;
    z-index: 100;
    font-size: 30px;
    right: 10%;
    bottom: 10%;
}

.container-icons-arrow div {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 50px;
}

.container-icons-arrow i {
    padding-left: 10px;
}

.container-icons-arrow div:hover {
    background-color: rgba(255, 255, 255, .3);
}

.container-icons-arrow div:active {
    background-color: rgba(255, 255, 255, .4);  
}

